/* CORE STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.front{
    background:  url("../img/images/images/branding_bg1.png") no-repeat;
    height: 780px;
    width: 100%;
    background-size: cover;
}


.container{
	align-content: center;
	width: 1200px;
	height: 700px;
	margin: 0 auto;
}



.wrapper{
	
	margin: 0 auto;
	width: 50%;
	float: left;
	

	
}

video {
	width: 100%;
	
	float: right;
}

.video_container{
	
	width: 1260px;
	height: 700px;
    margin: 0 auto;
	
}

.video_container_inner{
	
	width: 1200px;
    height: auto;
    margin: 0 auto;
	padding: 10% 0 10% 0;
   
	
	
}

.text_title_2{
	  font-size: 7em;
    font-weight: bold;
	color: #fff;
	text-align: right;
	float: left;
	padding: 18% 10% 0 0;
	
}

.text_title_container{
	
	padding:45% 0% 0% 0%; 
	
	height: auto;
    
	
	
	
	
}


.text_title_container3{
	
	width: 700px;
	height: auto;
	margin: 0 auto;
	padding:40% 5% 5% 5%; 
	
	
	
	
}

.text_title{
    font-size: 0.75em;
    font-weight: bold;
	color: #fff;
    text-align: center;
	text-align: center;
    font-family: 'Montserrat', sans-serif;
	
	
}



h1 {
	
	font-family: 'Bebas Neue', cursive;
	
}

ul {
		font-family: 'Bebas Neue', cursive;

}


.text_text{
	
	width: 1200px;
	height: 200px;
	position: inherit;
	margin: 0 auto;
	
}



.text_title_container2{
	
	width: 80px;
	height: auto;
	margin: 0 auto;
	
	
}







.imagen{
	

	padding: 5%;

}

.img_container{
	
	width: 1000px;
	height: auto;
	float: left;
	
	
	
}

.showcase_crane_1{
	margin: auto;
	padding-left: 10%;
    animation-name: designlab_mov;
	animation-duration: 2.5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	transition-timing-function: ease-in-out;
}




.text_parragraph {
	
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	width: 800px;
	height: auto;
	margin: 0 auto;
	margin:5%; 
	
	
	
	
}


.text_parragraph2 {
	
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	width: 250px;
	height: auto;
	margin: 0 auto;
	padding:5% 5% 5% 5%; 
    
    text-align: center;;
	
	
	
	
}

/* ARROW */
.arrow_bg {
    
    width: 20px;
    height: 20px;
}

.arrow_bg a{
    
    padding: 5%;
    opacity: 0%;
}

.arrow{
    position: absolute;
    top: 175%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 20px;
    height: 20px;
   
     border-image: linear-gradient(90deg, rgb(95,93,192), rgb(145,61,158)) 1;
    border-bottom: 5px solid ;
    border-right: 5px solid;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}






/* end of first part */


.margin_center{
    width: 850px;
    height: 700px;
    margin: 0 auto;

    
}


.margin_center2{
    width: 1200px;
    height: 800px;
    margin: 0 auto;

    
}


.text{
    font-size: 3em;
    font-weight: bold;
	color: #fff;
	text-align: center;
	
}




.container_showcase{
	
    margin: auto;
	height: 700px;
    width: 100%;
    padding-top: 5%;
    float: left;

	
	
}



.container_showcase_2{
	

	margin: auto;
	height: 700px;
    width: 100%;
    padding-top: 5%;
    float: left;
   

	
	
}

.margin_container{
    
    width: 900px;
    height: 750px;
         margin: auto;
}


.showcase_img1 {
  
  color: #fff;
  height: auto;
float: left;
	width: 500px;
	padding-top: 12%;
    margin: auto;
	
}




.showcase_img2 {
  
  color: #fff;
  height: auto;
float: left;
	width: 500px;
	padding-top: 3%;
    margin: auto;
	
}

.showcase-inner1  {
    
    height: 600px;
float: left;
		width: 350px;
	padding-top: 6%;
}


.margin_center_img {
       
    
}

.showcase_img2 {
  
 color: #fff;
 height: auto;
float: left;
	width: auto;
	padding: 10% 0 0 10%;
  
	

	
}


.showcase-inner2  {
    
    height: 600px;
    float: left;
	width: 350px;
	padding-top: 6%;
}

.showcase_img22 {
  
  color: #fff;
  height:auto;
	width: 450px;
	float: left;
	padding-top: 20%;
	

	
}
.showcase_img3 {
  
      color: #fff;
      height: 60vh;
    float: left;
	width: 640px;
	
	
}

	


.showcase_img4 {
  
   color: #fff;
  height: 10vh;
	width: 500px;
	float: left;
    padding: 20vh 0 0 0;
    

	
	
}

.tittle_text_3{
	
	width: 200px;
	
    padding: 2%;
	height: auto;
	
	
}


.showcase-inner-construction{
    
    width:400px;
    height: auto;
}

.tittle_text_2{
	
	width: 400px;
	float: right;
	height: auto;
	
	
}

.tittle_text_3{
	
	width: 200px;
	float: left;
	height: auto;
    padding: 5% 0 5% 0;
	
	
}

.img_padding {
    
    padding: 0 0 0 5%;
}


p {
	font-family: 'Montserrat', sans-serif;
}

.showcase:before {
  
  
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}







.btnbox {
    
   width: 100px;
	
}

.btn {
  border: 1px solid;
      border-radius: 50%;
  font-family: 'Montserrat', sans-serif;
  border-image: #000;
  color: #fff;
  text-align: left;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

.absolute{
	width: 300px;
	height: auto;
	float: left;
	margin-top: 10%;
}

.margintop{
    
    margin-top: 20%;
}


/* ANIMATION */


/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}



.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 4px;
   background: linear-gradient(to right, #845ec2, #1ebaaf, #b9f9eb);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 4px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background:#131313;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
 
  max-width: 200vw;
  max-height: 200vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul {
  width: 140px;
    height: 300px;
   

}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
   

}

.menu-wrap .menu  > div > div > ul > li:hover {
	transition: color 0.5s;

    border-style: solid;
    border-bottom: none;
    border-top: none;
    border-color: #1ebaaf;
    border-right-radius: 10%;
    border-right: 1px;
    padding-left: 10px;
    transition: 1s ease;
     
	
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
 
}


@media only screen and (max-width: 375px) {
 
    
    
    
    
    
    
    
    
    .front{
    background: no-repeat;
    height: 375px;
    width: 100%;
    background-size: cover;
}


.container{
	align-content: center;
	width: 1200px;
	height: 700px;
	margin: 0 auto;
}



.wrapper{
	
	margin: 0 auto;
	width: 50%;
	float: left;
	

	
}

video {
	width: 100%;
	
	float: right;
}

.video_container{
	
	width: 1260px;
	height: 700px;
    margin: 0 auto;
	
}

.video_container_inner{
	
	width: 1200px;
    height: auto;
    margin: 0 auto;
	padding: 10% 0 10% 0;
   
	
	
}

.text_title_2{
	  font-size: 7em;
    font-weight: bold;
	color: #fff;
	text-align: right;
	float: left;
	padding: 18% 10% 0 0;
	
}

.text_title_container{
	
	padding:45% 0% 0% 0%; 
	
	height: auto;
    
	
	
	
	
}


.text_title_container3{
	
	width: 700px;
	height: auto;
	margin: 0 auto;
	padding:40% 5% 5% 5%; 
	
	
	
	
}

.text_title{
    font-size: 0.75em;
    font-weight: bold;
	color: #fff;
    text-align: center;
	text-align: center;
    font-family: 'Montserrat', sans-serif;
	
	
}



h1 {
	
	font-family: 'Bebas Neue', cursive;
	
}

ul {
		font-family: 'Bebas Neue', cursive;

}


.text_text{
	
	width: 1200px;
	height: 200px;
	position: inherit;
	margin: 0 auto;
	
}



.text_title_container2{
	
	width: 80px;
	height: auto;
	margin: 0 auto;
	
	
}







.imagen{
	

	padding: 5%;

}

.img_container{
	
	width: 1000px;
	height: auto;
	float: left;
	
	
	
}

.showcase_crane_1{
	margin: auto;
	padding-left: 10%;
    animation-name: designlab_mov;
	animation-duration: 2.5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	transition-timing-function: ease-in-out;
}




.text_parragraph {
	
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	width: 800px;
	height: auto;
	margin: 0 auto;
	margin:5%; 
	
	
	
	
}


.text_parragraph2 {
	
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	width: 250px;
	height: auto;
	margin: 0 auto;
	padding:5% 5% 5% 5%; 
    
    text-align: center;;
	
	
	
	
}

/* ARROW */
.arrow_bg {
    
    width: 20px;
    height: 20px;
}

.arrow_bg a{
    
    padding: 5%;
    opacity: 0%;
}

.arrow{
    position: absolute;
    top: 175%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 20px;
    height: 20px;
   
     border-image: linear-gradient(90deg, rgb(95,93,192), rgb(145,61,158)) 1;
    border-bottom: 5px solid ;
    border-right: 5px solid;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}






/* end of first part */


.margin_center{
    width: 320px;
    height: auto;
    margin: 0 auto;

    
}


.margin_center2{
   width: 100%;
    height: auto;
    margin: 0 auto;

    
}


.text{
    font-size: 3em;
    font-weight: bold;
	color: #fff;
	text-align: center;
	
}




.container_showcase{
	
    margin: auto;
	height: 700px;
    width: 100%;
    padding-top: 5%;
    float: left;

	
	
}



.container_showcase_2{
	

	margin: auto;
	height: 700px;
    width: 100%;
    padding-top: 5%;
    float: left;
   

	
	
}
    
    .img_size{
        width: 100%;
    }

.margin_container{
    
    width: 900px;
    height: 750px;
         margin: auto;
}


.showcase_img1 {
  
  color: #fff;
  height: auto;
float: left;
	width: 100%;
	padding-top: 12%;
    margin: auto;
	
}

    
.showcase-inner1  {
    
    height: 600px;
float: left;
		width: 100%;
	padding-top: 6%;
}


.margin_center_img {
       
    
}



    
.showcase_img11 {
  
  color: #fff;
  height: auto;
float: left;
	width: 100%;
   margin-top: -200%;
  padding: 0;
	
}


    
    .margintopcell{
           margin-top: 100%;
        
    }
    

.showcase-inner2  {
    
    height: 350px;
    float: left;
	width: 100%;
	padding-top: 6%;
    margin-top: 140%;
}

.showcase_img22 {
  
  color: #fff;
  height:auto;
	width: 450px;
	float: left;
	padding-top: 20%;
	

	
}
.showcase_img3 {
  
      color: #fff;
      height: 60vh;
    float: left;
	width: 640px;
	
	
}

	


.showcase_img4 {
  
   color: #fff;
  height: 10vh;
	width: 500px;
	float: left;
    padding: 20vh 0 0 0;
    

	
	
}

.tittle_text_3{
	
	width: 200px;
	
    padding: 2%;
	height: auto;
	
	
}


.showcase-inner-construction{
    
    width:400px;
    height: auto;
}

.tittle_text_2{
	
	width: 400px;
	float: right;
	height: auto;
	
	
}

.tittle_text_3{
	
	width: 200px;
	float: left;
	height: auto;
    padding: 5% 0 5% 0;
	
	
}

.img_padding {
    
    padding: 0 0 0 5%;
}


p {
	font-family: 'Montserrat', sans-serif;
}

.showcase:before {
  
  
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}







.btnbox {
    
   width: 100px;
	
}

.btn {
  border: 1px solid;
      border-radius: 50%;
  font-family: 'Montserrat', sans-serif;
  border-image: #000;
  color: #fff;
  text-align: left;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

.absolute{
	width: 300px;
	height: auto;
	float: left;
	margin-top: 10%;
}

.margintop{
    
    margin-top: 20%;
}


/* ANIMATION */


/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}



.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 4px;
   background: linear-gradient(to right, #845ec2, #1ebaaf, #b9f9eb);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 4px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background:#131313;
  border-radius: 0%;
   width: 100%;
  height: 100%;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
 
  max-width: 200vw;
  max-height: 200vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul {
  width: 140px;
    height: 300px;
   

}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
   

}

.menu-wrap .menu  > div > div > ul > li:hover {
	transition: color 0.5s;

    border-style: solid;
    border-bottom: none;
    border-top: none;
    border-color: #1ebaaf;
    border-right-radius: 10%;
    border-right: 1px;
    padding-left: 10px;
    transition: 1s ease;
     
	
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
 
}

    
    
    
    .margin_chicos_top{
        
        margin-top: 35%;
    }
    
    
    
    
    
}

