/* CORE STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
        scroll-behavior: smooth;

}

#more{
    
   
}

body {
  

	background: #0c0c0c;
}

a{
	
	
	font-family: 'Bebas Neue', cursive;
	color:#FFF;
	text-decoration:none;
	
}

  .phonedisplay{
      display: none !important;
    } 

.front{
	width: 100%;
	height: 800px;
	background:  url("../img/images/images/huga/huga_web_main0000.jpg") no-repeat;
	background-size: cover;
	
}

.container{
	align-content: center;
	width: 1200px;
	height: 700px;
	margin: 0 auto;
}

.wrapper{
	
	margin: 0 auto;
	width: 500px;
	float: left;
	

	
}

video {
	width: 100%;
	padding: 15% 0 0 10%; 
	float: right;
}

.video_container{
	
	width: 1000px;
	height: 700px;
    margin: 0 auto;
	
}

.video_container_inner{
	
	width: 1000px;
    height: auto;
    margin: 0 auto;
	padding: 10% 0 0 0;
	
	
}

.text_title_2{
	  font-size: 7em;
    font-weight: bold;
	color: #fff;
	text-align: right;
	float: left;
	padding-top: 35%;
	
}

.text_title_container{
	
	width: 700px;
	height: auto;
    
	
	
	
	
}


.text_title_container3{
	
	width: 700px;
	height: auto;
	margin: 0 auto;
	padding:45% 5% 2% 5%; 
	
	
	
	
}


h1 {
	
	font-family: 'Bebas Neue', cursive;
	
}

ul {
		font-family: 'Bebas Neue', cursive;

}


.text_text{
	
	width: 1200px;
	height: 200px;
	position: inherit;
	margin: 0 auto;
	
}



.text_title_container2{
	
	width: 80px;
	height: auto;
	margin: 0 auto;
	

	
	
	
	
}



.text_title{
	  font-size: 5em;
    font-weight: bold;
	color: #fff;
	text-align: center;
	
	
}


.text_parragraph2 {
	
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	width: 250px;
	height: auto;
	margin: 0 auto;
	padding:5% 5% 5% 5%; 
    
    text-align: center;;
	
	
	
	
}

.imagen{
	

	padding: 5%;

}

.img_container{
	
	width: 1000px;
	height: auto;
	float: left;
	
	
	
}

.showcase_crane_1{
	margin: auto;
	padding-left: 10%;
    animation-name: designlab_mov;
	animation-duration: 2.5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	transition-timing-function: ease-in-out;
}




.text_parragraph {
	
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	width: 800px;
	height: auto;
	margin: 0 auto;
	margin:5%; 
	
	
	
	
}


/* ARROW */
.arrow_bg {
    
    width: 20px;
    height: 20px;
}

.arrow_bg a{
    
    padding: 5%;
    opacity: 0%;
}

.arrow{
    position: absolute;
    top: 175%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 20px;
    height: 20px;
  
     border-image: #00d8eb;
    border-bottom: 5px solid #5e5dc0 ;
    border-right: 5px solid #933c9d;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}






/* end of first part */


.margintop{
    
    margin-top: 20%;
}



.text{
    font-size: 3em;
    font-weight: bold;
	color: #fff;
	text-align: center;
	
}


.container_showcase{
	
    margin: auto;
	height: 700px;
    width: 1280px;
    padding-top: 5%;
   

	
	
}



.container_showcase_2{
	

	margin: auto;
	height: 700px;
    width: 1280px;
    padding-top: 5%;
   

	
	
}

.margin_container{
    
    width: 900px;
    height: 750px;
         margin: auto;
}

.container_showcase_3{
	
	display: flex;
	float: left;
	margin-left: 8%;
	justify-content: center;
	align-items: center;
	

	
	
}
.showcase_img1 {
  
  color: #fff;
  height: 500px;
float: left;
	width: 600px;
	padding-top: 14%;
	
}

.showcase-inner1  {
    
    height: 600px;
float: right;
	width: 600px;
	padding-top: 6%;
}

.showcase_img2 {
  
 color: #fff;
 height: 500px;
float: right;
	width: 600px;
	padding-top: 12%;
	

	
}


.showcase-inner2  {
    
    height: 600px;
float: left;
	width: 600px;
	padding-top: 6%;
}

.showcase_img22 {
 color: #fff;
 height: 500px;
float: right;
	width: 600px;
	padding-top: 12%;
	
	

	
}
.showcase_img3 {
  
      color: #fff;
      height: 60vh;
    float: left;
	width: 600px;
	
	
}

	


.showcase_img4 {
  
   color: #fff;
  height: 10vh;
		width: 600px;
	float: left;
    padding: 20vh 0 0 0;
    
	
	
}

.tittle_text_3{
	
	width: 200px;
	
    padding: 2%;
	height: auto;
	
	
}


.showcase-inner-construction{
    
  width: 600px;
    height: auto;
}

.tittle_text_2{
	
	width: 200px;
	float: right;
	height: auto;
	
	
}

.tittle_text_3{
	
	width: 200px;
	float: left;
	height: auto;
    padding: 5% 0 5% 0;
	
	
}

.img_padding {
    
    padding: 0 0 0 5%;
}


p {
	font-family: 'Montserrat', sans-serif;
}

.showcase:before {
  
  
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}



   
    .btnbox_main2 {
    
   width: 100%;
    margin-top: 50px;
	
}
    



.btnbox_main {
    
   width: 150px;
	
}

.btn {
  border: 1px solid;
      border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  border-image: #000;
  color: #fff;
  text-align: left;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

.absolute{
	width: 300px;
	height: auto;
	float: left;
	margin-top: 10%;
}




/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}



.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 4px;
   background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 4px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
       background: linear-gradient(to right, #825fc2, #12c5ac);
     transition: 1s ease;
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
     background: linear-gradient(to right, #825fc2, #12c5ac);
     transition: 1s ease;
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
     background: linear-gradient(to right, #825fc2, #12c5ac);
     
   transition: 1s ease;

}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background:#131313;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
 
  max-width: 200vw;
  max-height: 200vh;
  opacity: 0;
  transition: opacity 0.4s ease;
     margin: 0 auto;
}
.menu-wrap .menu > div > div > ul {
  width: 140px;
    height: 300px;
   
   

}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
   

}

.menu-wrap .menu  > div > div > ul > li:hover {
	transition: color 0.5s;

    border-style: solid;
    border-bottom: none;
    border-top: none;
    border-color: #12c5ac;
    border-right-radius: 10%;
    border-right: 1px;
    padding-left: 10px;
    transition: 1s ease;
     
	
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
 
}



@media only screen and (max-width: 375px) {

    
    .front{
	width: 100%;
	height: 800px;
	background:  url("../img/images/images/responsive_img/huga/huga_web_responsive0000.jpg") no-repeat;
	background-size: cover;
	
}

.container{
	align-content: center;
	width: 100%;
	height: 700px;
	margin: 0 auto;
}

.wrapper{
	
	margin: 0;
	width: 100%;
	float: left;
	

	
}

video {
	width: 100%;
	padding: 0; 
	float: left;
}

.video_container{
	
	width: 360px;
	height: 700px;
    margin: 0 auto;
	
}

.video_container_inner{
	
	width: 100%;
    height: auto;
    margin: 0 auto;
	padding: 10% 0 0 0;
	
	
}

.text_title_2{
    width: 370px;
	  font-size: 6em;
    font-weight: bold;
	color: #fff;
	text-align: center;
	float: left;
	padding-top: 18%;
	
}

.text_title_container{
	
	width: 100%;
	height: auto;
    
	
	
	
	
}


.text_title_container3{
	
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding:12% 5% 2% 5%; 
	
	
	
	
}


h1 {
	
	font-family: 'Bebas Neue', cursive;
	
}

ul {
		font-family: 'Bebas Neue', cursive;

}


.text_text{
	
	width: 100%;
	height: 200px;
	position: inherit;
	margin: 0 auto;
	
}



.text_title_container2{
	
	width: 150px;
	height: auto;
	margin: 0 auto;
	

	
	
	
	
}



.text_title{
	  font-size: 3.5em;
    font-weight: bold;
	color: #fff;
	text-align: center;
	
	
}


.text_parragraph2 {
	
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	width: 250px;
	height: auto;
	margin: 0 auto;
	padding:5% 5% 5% 5%; 
    
    text-align: center;;
	
	
	
	
}

.imagen{
	

	padding: 5%;

}

.img_container{
	
	width: 1000px;
	height: auto;
	float: left;
	
	
	
}

.showcase_crane_1{
	margin: auto;
	padding-left: 10%;
    animation-name: designlab_mov;
	animation-duration: 2.5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	transition-timing-function: ease-in-out;
}




.text_parragraph {
	
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	width: 800px;
	height: auto;
	margin: 0 auto;
	margin:5%; 
	
	
	
	
}


/* ARROW */
.arrow_bg {
    
    width: 20px;
    height: 20px;
}

.arrow_bg a{
    
    padding: 5%;
    opacity: 0%;
}

.arrow{
    position: absolute;
    top: 175%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 20px;
    height: 20px;
   
     border-image: #00d8eb;
  border-bottom: 5px solid #5e5dc0 ;
    border-right: 5px solid #933c9d;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
    
    





/* end of first part */


.margintop{
    
    margin-top: 20%;
}



.text{
    font-size: 3em;
    font-weight: bold;
	color: #fff;
	text-align: center;
	
}


.container_showcase{
	
    margin: auto;
	height: 100px;
   width: 100%;
    padding-top: 5%;
   

	
	
}



.container_showcase_2{
	

	margin: auto;
	height: 400px;
    width: 100%;
    padding-top: 5%;
   

	
	
}

.margin_container{
    
    width: 350px;
    height: 750px;
         margin: auto;
}

.container_showcase_3{
	 width: 100%;
	display: flex;
	float: left;
	margin-left: 8%;
	justify-content: center;
	align-items: center;
		height: 400px;


	
	
}
.showcase_img1 {
  
  color: #fff;
	height: 400px;
float: left;
		width: 100%;
	padding-top: 14%;
	
}

.showcase-inner1  {
    
	height: 100px;
float: right;
		width: 100%;
	padding-top: 6%;
      margin: -20% 0 0 0;
}

.showcase_img2 {
  
 color: #fff;
	height: 400px;
float: right;
			width: 100%;

	padding-top: 50%;
	

	
}


.showcase-inner2  {
    
	height: 100px;
float: left;
	width: 100%;
	padding-top: 6%;
    margin: 200% 0 0 0;
    position: absolute;
}

.showcase_img22 {
  
 color: #fff;
	height: 400px;
float: right;
			width: 100%;

	
	


	
}
.showcase_img3 {
  
      color: #fff;
      height: 60vh;
    float: left;
					width: 100%;

	
	
}

	


.showcase_img4 {
  
   color: #fff;
  height: 10vh;
width: 100%;
	float: left;
    padding: 20vh 0 0 0;
    
	
	
}

.tittle_text_3{
	
	width: 100%;
	
    padding: 2%;
	height: auto;
	text-align: center;
	
}


.showcase-inner-construction{
    
 width: 100%;
    height: auto;
    
}

.tittle_text_2{
	
width: 100%;
	float: right;
	height: auto;
	text-align: center;
	
}

.tittle_text_3{
	text-align: center;
	width: 200px;
	float: left;
	height: auto;
    padding: 5% 0 5% 0;
	
	
}

.img_padding {
    
    padding: 0 0 0 5%;
}


p {
	font-family: 'Montserrat', sans-serif;
}

.showcase:before {
  
  
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}







.btnbox_main {
    
   width: 150px;
    margin-top: 50px;
	
}

    
    .btnbox_main2 {
    
   width: 100%;
    margin-top: 50px;
	
}
    
    
.btn {
  border: 1px solid;
      border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  border-image: #000;
  color: #fff;
  text-align: left;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

.absolute{
	width: 300px;
	height: auto;
	float: left;
	margin-top: 10%;
}




/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}



.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 4px;
   background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 4px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
       background: linear-gradient(to right, #825fc2, #12c5ac);
     transition: 1s ease;
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
     background: linear-gradient(to right, #825fc2, #12c5ac);
     transition: 1s ease;
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
     background: linear-gradient(to right, #825fc2, #12c5ac);
     
   transition: 1s ease;

}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background:#131313;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
 
  max-width: 200vw;
  max-height: 200vh;
  opacity: 0;
  transition: opacity 0.4s ease;
     margin: 0 auto;
}
.menu-wrap .menu > div > div > ul {
  width: 140px;
    height: 300px;
   
   

}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
   

}

.menu-wrap .menu  > div > div > ul > li:hover {
	transition: color 0.5s;

    border-style: solid;
    border-bottom: none;
    border-top: none;
    border-color: #12c5ac;
    border-right-radius: 10%;
    border-right: 1px;
    padding-left: 10px;
    transition: 1s ease;
     
	
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
 
}


    
    
    
    .displayvideo{
        display: none;
    }
    
    
    
    .phonedisplay{
     display: block !important;
        color: #fff;
        width: 100%;
        float: left;
        height: 150px;
        text-align: center;
    } 
    
    .phonevideo_text{
        
        padding: 10px;
    }
    

    .centerimg{
        
      
        margin: 0 auto;
        width: 320px;
       
    }
    
    img {
        width:  100%;
    }
    
    
    .margintop_cel{
        
        margin-top: 50%;
    }
    
      .margintop_cel2{
        
        margin-top: 34%;
    }
    
    
    
    
    .extramargin {
        
        margin: 80% 0 0 0;
        
    }
  
    .extrapadding{
        
        padding: 0 0 20% 0;
        
    }
    
      
     .extramargin2 {
        
        padding: 150% 0 0 0;
        position: absolute;
         width: 100%;
         text-align: center;
    }
      
     .extramargin3 {
        
         margin-top: 24%;
         width: 100%;
         text-align: center;
    }
    
    
    
    
    .extramarginbottom{
         margin-top: 450px;
    }
    
    
    
    
    
}