/* CORE STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
        scroll-behavior: smooth;

}

body {
  
  line-height: 1.4;
    background: #131313;
}



h1 {
	
	font-family: 'Bebas Neue', cursive;
	
}

ul {
		font-family: 'Bebas Neue', cursive;

}





.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}



.text{
    font-size: 6em;
    font-weight: bold;
    background: linear-gradient(to right, #845ec2, #1ebaaf, #b9f9eb);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
	text-align: center;
    animation-name: animate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.parragraph {
     animation-name: animate2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}


.showcase {
  background: url("../img/marcowebsite_01.jpg")center center/cover;
  color: #fff;
  width: 100%;
    height: 800px;
    background: cover;
  position: relative;
     animation-name: animate3;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.showcase:before {
  content: '';
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.container {
 

      position: absolute;
        top: 70%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        display: flex;
      align-items: center;
     justify-content: center; 
    
}


.showcase-inner {
  
  text-align: center;
	
  height: 220px;
    width: 550px;
} 


.showcase h1 {
  font-size: 4rem;
    
    /*opacity: 0.6;*/
   
	
}

.showcase p {
  font-size: 1rem;
}



h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}




/* end of first part */

.margintop{
    
    margin-top: 25%;
}

.text2{
    font-size: 2em;
   
	color: #fff;
	text-align: center;
	
}

.text_parragraph3 {
	
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	width: 250px;
	height: auto;
	margin: 0 auto;
	padding:5% 5% 5% 5%; 
    
    text-align: center;;
	
	
	
	
}



.container_showcase{
	
    margin: auto;
	height: 700px;
    width: 1280px;
    padding-top: 5%;
   

	
	
}



.container_showcase_2{
	

	margin: auto;
	height: 800px;
    width: 1280px;
    padding-top: 8%;
    float: left;
   

	
	
}



.showcase_img1 {
  
  color: #fff;
  height: 600px;
   float: left;
	width: 600px;
	padding-top: 6%;
	 background: url("../img/images/images/3Dproyects.png") no-repeat;
    background-size: cover;
}

.showcase-inner1  {
    
    height: 600px;
float: left;
		width: 600px;
	padding-top: 6%;
}

.showcase_img2 {
  
 color: #fff;
  height: 420px;
   float: left;
	width: 700px;
	padding-top: 0;
    margin-top: 6%;
	 background: url("../img/images/images/brandingproyects.png") no-repeat;
    background-size: cover;

	
}



.showcase-inner2  {
    
    height: 600px;
float: left;
		width: 500px;
	padding-top: 6%;
}

.showcase_img22 {
  
  color: #fff;
  height:auto;
	width: 450px;
	float: left;
	padding-top: 20%;
	

	
}









.btn {
  border: 1px solid;
  border-image: linear-gradient(90deg, rgb(132,94,194), rgb(30,186,175), rgb(185,249,235)) 1;
  color: #fff;
  
  text-align: center;
  padding: 0.75rem 1.5rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
    
  
}

.btn:hover {
  opacity: 0.7;
   
    border-radius: 50%;
}

.btnbox {
	padding: 25px;
    animation-name: animate2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.button {
  background:linear-gradient(90deg, rgb(132,94,194), rgb(30,186,175), rgb(185,249,235)) ;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  padding: 2px;
  text-decoration: none;
}
.button span {
  background: #131313;
  display: block;
    padding: 0.75rem 1.5rem;
  font-family: 'Montserrat', sans-serif;

  border-radius: 20px;
}

.buttom span:hover {
  opacity: 0.7;
  border-radius: 50%;
}


p {
    font-family: 'Montserrat', sans-serif;
}


/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}



.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 4px;
   background: linear-gradient(to right, #845ec2, #1ebaaf, #b9f9eb);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 4px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background:#131313;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
 
  max-width: 200vw;
  max-height: 200vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul {
  width: 140px;
    height: 300px;

}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
   

}

.menu-wrap .menu  > div > div > ul > li:hover {
	transition: color 0.5s;

    border-style: solid;
    border-bottom: none;
    border-top: none;
    border-color: #1ebaaf;
    border-right-radius: 10%;
    border-right: 1px;
    padding-left: 10px;
    transition: 1s ease;
     
	
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
 
}



@media only screen and (max-width: 375px) {
    
 


    
    
    
    
h1 {
	
	font-family: 'Bebas Neue', cursive;
    font-size: 1em;
	
}

ul {
		font-family: 'Bebas Neue', cursive;

}





.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
 
}



.text{
  
    font-weight: bold;
    background: linear-gradient(to right, #845ec2, #1ebaaf, #b9f9eb);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
	text-align: center;
    animation-name: animate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.parragraph {
     animation-name: animate2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}


.showcase {
  background: url("../img/marcowebsite_01.jpg")center center/cover;
  color: #fff;
  width: 100%;
    height: 800px;
    background: cover;
  position: relative;
     animation-name: animate3;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.showcase:before {
  content: '';
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.container {
 

      position: absolute;
        top: 70%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        display: flex;
      align-items: center;
     justify-content: center; 
    
}


.showcase-inner {
  
  text-align: center;
	
  height: 220px;
    width: 300px;
} 


.showcase h1 {
  font-size: 3rem;
    
    /*opacity: 0.6;*/
   
	
}

.showcase p {
  font-size: 0.80rem;
}



h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}




/* end of first part */

.margintop{
     margin-top:15%; 
   
}

.text2{
    font-size: 2em;
   
	color: #fff;
	text-align: center;
	
}

.text_parragraph3 {
	
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	width: 250px;
	height: auto;
	margin: 0 auto;
	padding:5% 5% 5% 5%; 
    
    text-align: center;;
	
	
	
	
}



.container_showcase{
	
    margin: auto;
	height: 700px;
    width: 375px;
    padding-top: 5%;
   

	
	
}



.container_showcase_2{
	

	margin: auto;
	height: 800px;
     width: 375px;
    padding-top: 8%;
    float: left;
   

	
	
}

 .showcase_img1 {
  
  color: #fff;
  height: 350px;
   float: left;
     	margin: 0% 0 0 2.5%;
	width: 350px;
	padding-top: 6%;
	 background: url("../img/images/images/3Dproyects.png") no-repeat;
    background-size: cover;
}

.showcase-inner1  {
    
    height: 300px;
float: left;
		width: 100%;
	padding-top: 6%;
}

.showcase_img2 {
  
 color: #fff;
  height: 220px;
   float: left;
	width: 350px;
	margin: -70% 0 0 2.5%;
     background: url("../img/images/images/brandingproyects.png") no-repeat;
    background-size: cover;

	
}



.showcase-inner2  {
    
    height: 300px;
float: left;
		width: 375px;
	padding-top: 70%;
    margin-top:20%; 
}

.showcase_img22 {
  
  color: #fff;
  height:auto;
	width: 450px;
	float: left;
	padding-top: 20%;
	

	
}









.btn {
  border: 1px solid;
  border-image: linear-gradient(90deg, rgb(132,94,194), rgb(30,186,175), rgb(185,249,235)) 1;
  color: #fff;
  
  text-align: center;
  padding: 0.75rem 1.5rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
    
  
}

.btn:hover {
  opacity: 0.7;
   
    border-radius: 50%;
}

.btnbox {
	padding: 25px;
    animation-name: animate2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.button {
  background:linear-gradient(90deg, rgb(132,94,194), rgb(30,186,175), rgb(185,249,235)) ;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  padding: 2px;
  text-decoration: none;
}
.button span {
  background: #131313;
  display: block;
    padding: 0.75rem 1.5rem;
  font-family: 'Montserrat', sans-serif;

  border-radius: 20px;
}

.buttom span:hover {
  opacity: 0.7;
  border-radius: 50%;
}


p {
    font-family: 'Montserrat', sans-serif;
}
    
    
    
    
    
    
/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}



.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 4px;
   background: linear-gradient(to right, #845ec2, #1ebaaf, #b9f9eb);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 4px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background:#131313;
border-radius: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
 
  max-width: 200vw;
  max-height: 200vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul {
  width: 140px;
    height: 300px;

}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
   

}

.menu-wrap .menu  > div > div > ul > li:hover {
	transition: color 0.5s;

    border-style: solid;
    border-bottom: none;
    border-top: none;
    border-color: #1ebaaf;
    border-right-radius: 10%;
    border-right: 1px;
    padding-left: 10px;
    transition: 1s ease;
     
	
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
 
}

    
    
    
    
    
    
    
    
}

