@charset "utf-8";
/* CSS Document */

/* RED */
::-webkit-scrollbar {
    width: 3.5px;
    background: #0c0c0c;
    
}
 
/* Track*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
   
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1px;
   
    border-radius: 10px;
   background: linear-gradient( #845ec2, #1ebaaf, #b9f9eb);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: linear-gradient(#845ec2, #1ebaaf, #b9f9eb); 
}
/* END RED*/


@media only screen and (max-width: 375px) {
    
    

body {
    overflow-x: hidden;
    width: 100%;
}
    
    
    
    /* RED */
::-webkit-scrollbar {
    width: 3.5px;
    background: #0c0c0c;
    
}
 
/* Track*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: none; 
    -webkit-border-radius: none;
    border-radius: none;
   
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1px;
   
    border-radius: none;
   background: none;
    -webkit-box-shadow: none; 
}
::-webkit-scrollbar-thumb:window-inactive {
background: none; 
}
/* END RED*/
    
    
    
}
